<html>
  <head>
    <title>Insert</title>
  </head>
<body>
<h1 id="id1">Insert products</h1>
<div class="korniza">
<form action="/user_create" method="post"><div class="tss">
Product Name: <input class="inputet" type="text" name="emri1" required/><br><br>
Price: <input class="inputet" type="text" name="cmimi1" required /><br><br>
Weight: <input class="inputet" type="number" name="pesha1" required /><br><br>
Description: <input id="pershkrimi" class="inputet" type="text" name="pershkrimi1" required /><br><br>
Category: <select class="inputet" name="kategoria1" required>
    <option value="1">1</option>
    <option value="2">2</option>
  </select><br><br>
Subcategory: <select class="inputet" name="nenkategoria1" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    
  </select><br><br>
Photo: <input class="inputet" type="file" name="foto" required /><br><br>

  <button id="butoni">Inserto</button>
  </div>
</form>
</div>
</body>
</html>